body {
    image-rendering: pixelated;
    margin: 0;
    height: 100vh;
    background-color:antiquewhite;
    transition: background-color 0.5s ease;
}

h1 {
    text-align:center
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 40px;
}

.btn {
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.yes {
    background-color: #84e45d;
    border: 2px solid #54b82c;
}

.no {
    background-color: #da5151;
    border: 2px solid #aa2f2f;
}

.fade-out {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
}

.fond-coeur {
    background-image: url("coeur.gif");
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
}

#slideshow {
    display: none;              /* caché au départ */
    width: 400px;               /* largeur fixe */
    height: 500px;              /* hauteur fixe */
    object-fit: cover;          /* l’image remplit le cadre sans déformer */
    margin: 40px auto 0 auto;   /* centrer horizontalement + espacement en haut */
    border-radius: 10px;        /* coins arrondis optionnel */
    box-shadow: 0 0 15px rgba(0,0,0,0.3); /* joli effet */
    display: block;             /* sera affiché via JS */
}