body {
    background-color:antiquewhite;
    transition: background-color 0.5s ease;
}

h1 {
    text-align:center
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 40px;
}

.btn {
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.yes {
    background-color: #84e45d;
    border: 2px solid #54b82c;
}

.no {
    background-color: #da5151;
    border: 2px solid #aa2f2f;
}

.fade-out {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
}
